.contacts{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    h2{
        margin-bottom: 0;
    }
    .contact{
        text-align: center;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-bottom: -10px;
        .eWalletLogo{
            margin-bottom: 24px;
            img{
                height: 20px;
            }
        }
        .contactName{
            margin-bottom: 8px;
            font-weight: 500;
            text-transform: capitalize;
        }
        .contactNumber{
            color: rgba(41, 52, 71, 0.7);
            font-size: 0.75rem;
        }
    }
    .buttonCTA{
        margin-top: 24px;
    }
}