.cooming{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    img{
        width: 200px;
        max-width: 100%;
        margin-bottom: 48px;
    }
    h1{
        font-size: 22px;
        line-height: 2.25rem;
    }
    p{
        padding-left: 100px;
        padding-right: 100px;
    }
}
@media (max-width: 575.98px){
    .cooming{
        width: 90%;
        p{
            padding-left: 0px;
            padding-right: 0px;
        }
        h1{
            font-size: 15px;
            line-height: 1.125rem;
        }
    }
}