.histories{
    .historyInner{
        .history{
            &:last-child{
                margin-bottom: 24px;
            }
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 12px;
            padding-bottom: 12px;
            margin-bottom: 16px;
            .history-left{
                .hisWallet{
                    span.ewalletName{
                        color: #2F78F7;
                        font-weight: 500;
                        text-transform: uppercase;
                        display: inline-block;
                        margin-bottom: 4px;
                    }
                }
                p{
                    margin-bottom: 0;
                }
            }
            .history-right{
                padding-right: 32px;
                position: relative;
                span{
                    display: block;
                    text-align: right;
                    &.ewalletAmmount{
                        font-size: 1.125rem;
                        line-height: 1.6875rem;
                        font-weight: 500;
                    }
                    &.ewalletDate{
                        font-size: 0.75rem;
                        color:rgba(41, 52, 71, 0.7);
                    }
                }
                &::after{
                    font-family: "Font Awesome 5 Free";
                    content: '\f054';
                    position: absolute;
                    display: inline-block;
                    right: 0;
                    top: 50%;
                    font-size: 18px;
                    color: rgba(41, 52, 71, 0.4);
                    transform: translateY(-50%);
                    vertical-align: middle;
                    font-weight: 900
                }
            }
        }
    }
}
.historyBanner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    span{
        font-size: 1.125rem;
        &.historyAmmount{
            display: block;
            font-size: 4.25rem;
            line-height: 5rem;
            margin-bottom: 8px;
        }
    }
}
@media (max-width: 575.98px){
    .historyBanner{
        span{
            &.historyAmmount{
                font-size: 2.25rem;
                line-height: 3.625rem;
                margin-bottom: 0;
            }
        }
    }
}