.sender{
    h2{
        margin-left: 15px;
    }
    .senderInner{
        padding-bottom: 10px;
        &.blankState{
            padding-left: 15px;
            padding-right: 15px;
            .card{
                padding: 32px;
                text-align: center;
            }
            h3{
                font-size: 1rem;
                line-height: 1.6875rem;
                margin-bottom: 4px;
            }
            p{
                width: 336px;
                max-width: 96%;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 1rem;
                color: rgba(41, 52, 71, 0.7);
            }
        }
        &.contacts{
            display: flex;
            overflow-x:scroll;
            flex-wrap: nowrap;
            .card{
                display: inline-block;
                width: auto;
                margin-right: 16px;
                &:last-child{
                    margin-right: 0;
                }
            }
            .contact{
                flex: 0 0 230px;
                text-align: center;
                width: 224px;
                padding-top: 24px;
                padding-bottom: 24px;
                margin-right: 16px;
                &:last-child{
                    margin-right: 0px;
                }
                &:first-child{
                    margin-left: 15px;
                }
                .eWalletLogo{
                    margin-bottom: 24px;
                    img{
                        height: 20px;
                    }
                }
                .senderName{
                    margin-bottom: 8px;
                    font-weight: 500;
                    text-transform: capitalize;
                }
                .senderNumber{
                    color: rgba(41, 52, 71, 0.7);
                    font-size: 0.75rem;
                }
                &.add{
                    display: flex;
                    align-items: center;
                    a{
                        display: block;
                        position: relative;
                        top: 50%;
                        transform: translateY(-50%);
                        i{
                            margin-bottom: 16px;
                            font-size: 36px;
                            display: block;
                        }
                    }
                }
            }
        }
    }
}