.successWrapper{
    background: #2F78F7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.successTransfer{
    background: #2F78F7;
    display: flex;
    align-items: center;
    justify-items: center;
    .successTransferInner{
        width: 100%;
        .successImage{
            width: 74px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 32px;
            img{
                max-width: 100%;
            }
        }
        h1.successTitle{
            font-size: 3rem;
            line-height: 4.5rem;
            font-weight: 400;
            color: #fff;
            text-align: center;
        }
        p.successSub{
            color: rgba(255, 255, 255, 0.75);
            padding-left: 100px;
            padding-right: 100px;
            margin-bottom: 32px;
            text-align: center;
        }
        .successButton{
            text-align: center;
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
@media (max-width: 575.98px){
    .successWrapper{
        padding-top: 64px;
    }
    .successTransfer{
        position: relative;
        .successTransferInner{
            h1.successTitle{
                font-size: 2.25rem;
            }
            p.successSub{
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
}