.transfer{
    .transferSender, .transferReceiver{
        .ewalletSender, .ewalletReceiver{
            padding-top: 16px;
            padding-bottom: 16px;
            padding-left: 16px;
            padding-right: 16px;
            label{
                display: block;
                font-weight: 500;
                margin-bottom: 16px;
            }
            label.radioInputImg{
                display: inline-block;
                margin-bottom: 0;
            }
        }
    }
    .transferSender{
        margin-bottom: 32px;
    }
    .termCondition{
        font-size: 0.75rem;
        opacity: 0.8;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}