.transactions{
    .transaction{
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 24px;
        &:last-child{
            margin-bottom: 0;
        }
        .transactionHeader{
            padding-bottom: 16px;
            .transactionHeader-left{
                span{
                    &.transactionID{
                        font-weight: 500;
                        display: block;
                        margin-bottom: 12px;
                    }
                }
                .transactionStatus{
                    .statusBadge{
                        font-size: 0.75rem;
                        font-weight: 500;
                        padding-right:8px;
                        padding-left:8px;
                        display: inline-block;
                        border-radius: 6px;
                        margin-right: 6px;
                        color: #293447;
                        &.process{
                            background: #61F882;
                        }
                        &.waiting{
                            background: #F7D360;
                        }
                        &.fail{
                            background: #FB3131;
                        }
                        &.success{
                            background: #2F78F7;
                            color: #fff;
                        }
                    }
                    span{
                        color: rgba(41, 52, 71, 0.7);;
                    }
                }
            }
            .transactionHeader-right{
                text-align: right;
                span{
                    display: block;
                    &.transactionAmmount{
                        font-size: 1.125rem;
                        line-height: 1.6875rem;
                        font-weight: 500;
                        margin-bottom: 4px;
                    }
                    &.transactionDate{
                        font-size: 0.75rem;
                        color:rgba(41, 52, 71, 0.7);
                    }
                }
            }
        }
        .transactionBody{
            width: 100%;
            display: flex;
            border-bottom: 1px solid rgba(0, 0,0, 0.05);
            border-top: 1px solid rgba(0, 0,0, 0.05);
            margin-bottom: 16px;
            .trasactionEwallet{
                padding-top: 32px;
                padding-bottom: 32px;
                width: 33.33%;
                max-width: 100%;
                text-align: center;
                border-right: 1px solid rgba(0, 0, 0, 0.05);
                &:last-child{
                    border-right: none;
                }
                &.sender{
                    position: relative;
                    &::before{
                        font-family: "Font Awesome 5 Free";
                        content: '\f054';
                        position: absolute;
                        display: inline-block;
                        right: 0;
                        top: 50%;
                        text-align: center;
                        font-size: 18px;
                        color: rgba(41, 52, 71, 0.4);
                        transform: translate(50%, -50%);
                        vertical-align: middle;
                        font-weight: 900;
                        height: 32px;
                        width: 32px;
                        background: #F2F2F2;
                        border-radius: 100%;
                        padding-left: 4px;
                        padding-top: 3px;
                    }
                }
                &.staff{
                    position: relative;
                    &::before{
                        font-family: "Font Awesome 5 Free";
                        content: '\f054';
                        position: absolute;
                        display: inline-block;
                        right: 0;
                        top: 50%;
                        text-align: center;
                        font-size: 18px;
                        color: rgba(41, 52, 71, 0.4);
                        transform: translate(50%, -50%);
                        vertical-align: middle;
                        font-weight: 900;
                        height: 32px;
                        width: 32px;
                        background: #F2F2F2;
                        border-radius: 100%;
                        padding-left: 4px;
                        padding-top: 3px;
                    }
                }
                .ewalletLogo{
                    img{
                        height: 20px;
                        margin-bottom: 4px;
                    }
                }
                .ewalletName{
                    margin-bottom: 8px;
                    font-weight: 500;
                    text-transform: capitalize;
                }
                .ewalletNumber{
                    color: rgba(41, 52, 71, 0.7);
                    font-size: 0.75rem;
                }
            }
        }
        .transactionFooter{
            p{
                font-size: 0.75rem;
                margin-bottom: 0;
            }
        }
    }
}



@media (max-width: 575.98px){
    .transactions{
        .transaction{
            .transactionHeader{
                .transactionHeader-right{
                    margin-top: 16px;
                    text-align: left;
                    background: #fafafa;
                    padding-top: 16px;
                    padding-bottom: 16px;
                }
            }
            .transactionBody{
                display: block;
                .trasactionEwallet{
                    width: 100%;
                    border:1px solid rgba(0, 0, 0, 0.05);
                    &:last-child{
                        border-right: 1px solid rgba(0, 0, 0, 0.05);
                    }
                    .ewalletLogo{
                        img{
                            margin-top: 10px;
                            height: 15px;
                            margin-bottom: 8px;
                        }
                    }
                    &.sender, &.staff{
                        &::before{
                            height: 22px;
                            width: 22px;
                            font-size: 14px;
                            padding-left: 2px;
                            padding-top: 0;
                            left: 50%;
                            right: unset;
                            top: unset;
                            bottom: -22%;
                            transform: rotate(90deg) translateX(-50%);
                            transform-origin: top center;
                        }
                    }
                }
            }
        }
    }
}