.banner{
    background: #2F78F7;
    color: #fff;
    &.big{
        width: 100%;
        height: 288px;
        position: relative;
    }
    img{
        max-width: 100%;
    }
}
@media (max-width: 575.98px){
    .banner{
        &.big{
            height: 140px;
        }
    }
}