.buttonCTA{
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 8px;
    padding-bottom: 8px;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 500;
    border-radius: 4px;
    transition: .1s ease-in;
    &.blue{
        background: linear-gradient(180deg, #5A96FF 0%, #2F78F7 100%);
        color: #fff;
        &:hover{
            opacity: .9;
        }
        &.big{
            padding-top: 16px;
            padding-bottom: 16px;
            width: 350px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        &.big-full{
            width: 100%;
            padding-top: 16px;
            padding-bottom: 16px;
            text-align: center;
            display: block;
            outline: none;
            border: none;
        }
    }
    &.black{
        background: linear-gradient(180deg, #48566D 0%, #293447 100%);
        color: #fff;
        &:hover{
            opacity: .9;
        }
        &.big{
            padding-top: 16px;
            padding-bottom: 16px;
            display: inline-block;
            text-align: center;
            width: 350px;
            max-width: 100%;
            margin-left: auto;
            margin-right: auto;
        }
        &.big-full{
            width: 100%;
            padding-top: 16px;
            padding-bottom: 16px;
            text-align: center;
            display: block;
            outline: none;
            border: none;
        }
    }
    &.ghostBlue{
        border: 1px solid #2F78F7;
        background: transparent;
        color: #2F78F7;
    }
}
a.buttonCTA{
    display: inline-block;
}