.header{
    background:#fff;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(41, 52, 71, 0.05);
    .headerLogo{
        a{
            display: inline-block;
        }
    }
    .headerCTA{
        a{
            margin-right: 12px; 
            &:last-child{
                margin-right: 0px;
            }
            i{
                margin-right: 8px;
            }
            &.icn{
                padding-right: 16px;
            }
        }
    }
}
