.inpt{
    margin-bottom:24px;
    &.textField{
        position: relative;
        label{
            margin-bottom: 8px!important;
        }
        input[type="text"], input[type="number"]{
            padding-left: 12px;
            padding-right: 12px;
            padding-top: 12px;
            padding-bottom: 12px;
            border-radius: 4px;
            outline:none;
            width: 100%;
            background: #fbfbfb;
            border: 1px solid #e1e1e1;
            &:focus{
                border: 1px solid #2F78F7;
                background: #fff;
            }
        }
        &.icn{
            input[type="text"], input[type="number"]{
                padding-left: 62px;
            }
            .inptIcon{
                position: absolute;
                &.left{
                    left: 0;
                    bottom: 0;
                    padding-left: 15px;
                    padding-right: 15px;
                    padding-top: 13px;
                    padding-bottom: 13px;
                    color: #fff;
                    font-weight: 500;
                    border-radius: 4px 0px 0px 4px;
                    background: #2F78F7;
                    pointer-events: none;
                }
            }
        }
    }
    .radioInputImg{
        padding:65px 25px;
        width: 23%;
        margin-right: 6px;
        margin-bottom: 0;
        text-align: center;
        background: #fff;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
        display: inline-block;
        position: relative;
        border: 1px solid #F8F8F8;
        cursor: pointer;
        border-radius: 4px;
        &:last-child{
            .inputImg{
                img{
                    height: 32px;
                }
            }
        }
    } 
    input[type="radio"]{
        position: absolute;
        top: 15px;
        left: 15px;
        cursor: pointer;
    }
    .inputImg{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        border:1px solid transparent;
        border-radius: 4px;
        img{
            height: 20px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    input[type="radio"] + .inputImg{
        cursor: pointer;
    }
    input[type=radio]:checked + .inputImg {
        background: rgba(47, 120, 247, 0.13);
        border: 1px solid #93B7F6;
    }
}
@media (max-width: 575.98px){
    .inpt{
        .radioInputImg{
            width: 47%;
        }
    }
}