.navigation{
    background: #fff;
    padding-left: 18px;
    padding-right: 18px;
    .navList{
        margin-bottom: 0px;
        padding-left: 0;
        .navListItem{
            display: inline-block;
            margin-right: 48px;
            a{
                padding-top: 16px;
                padding-bottom: 16px;
                color: #293447;
                display: inline-block;
                font-weight: 500;
                line-height: 1.125rem;
                &:hover{
                    color:#2F78F7;
                }
            }
            &:last-child{
                margin-right: 0;
            }
        }
    }
    .navRight{
        margin-right: -15px;
        i{
            margin-right: 8px;
            font-size: 16px;
        }
    }
}
.navBottom{
    display: none;
    background:#fff;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    box-shadow: 0px -4px 3px 0px rgba(57, 50, 97, 0.1);
    .navTab{
        .navTabInner{
            text-align: center;
            display: block;
            color: #293447;
            padding-top: 14px;
            padding-bottom: 4px;
            font-size: 12px;
            font-weight: 400;
            i{
                font-size: 14px;
                display: block;
                margin-bottom: 0px;
            }
        }
    }
}
@media (max-width: 575.98px){
    .navigation{
        text-align: center;
        .navList{
            display: none;
        }
        .justify-content-end{
            justify-content: center!important;
        }
        .navRight{
                padding-top: 14px;
                display: block;
                padding-bottom: 14px;
        }

    }
    .navBottom{
        display: block;
    }
}