body{
    background: #eee;
    font-family: "roboto", sans-serif;
    font-size: 14px;
    line-height: 1.5rem;
    color: #293447;
}
.wrapper{
    width: 768px;
    min-height: 1024px;
    margin: auto;
    max-width: 100%;
    background: #FAF9FF;
    position: relative;
}
.component{
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
}
.container-fluid{
    &.componentInner{
        padding-left: 15px;
        padding-right: 15px;
    }
}
a{
    font-weight: 500;
    transition: .1s ease-in;
    &:hover{
        text-decoration: none;
        color:#2F78F7;
    }
}
p{
  color: rgba(41, 52, 71, 0.7);
}
h1,h2,h3,h4,h5,h6{
    color: #293447;;
}
@import 'components/header';
@import 'components/navbar';
@import 'components/banners';
@import 'main';
@import 'components/buttons';
@import 'components/inputs';
@import 'responsive';
