.unit{
    margin-bottom: 36px;
    h2{
        font-size: 1rem;
        line-height: 1.6875rem;
        margin-bottom: 16px;
    }
    h3{
        font-size: 0.875rem;
        line-height: 1.5rem;
        margin-bottom: 12px;
    }
    .card{
        background: #fff;
        width: 100%;
        min-height: 20px;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        border: none;
    }
    &.sender{
        padding-left: 0;
        padding-right: 0;
    }
    &:last-child{
        margin-bottom: 0;
    }
}
@import 'units/sender';
@import 'units/histories';
@import 'units/transactions';
@import 'units/transfer';
@import 'units/success';
@import 'units/contacts';
@import 'units/cooming';